<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit an entry</h4>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger" style="display: none;" id="message" role="alert">Please review form for missing field.</div>
          <form>
              <div class="form-group">
                <label for="name">Organization Name</label>
                <input type="text" class="form-control" id="name" placeholder="Meduim Development Inc">
              </div>

			  <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                    <label for="url">Organization's URL</label>
                    <input type="text" class="form-control" id="url" placeholder="www.mediumdevinc.com">
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                   <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="admin@mediumdevinc.com">
                </div>
              </div>
              <div class="col-md-4">
                      <div class="form-group">
                          <label for="year">Founding Year</label>
                          <input type="text" class="form-control" id="year" placeholder="2016">
                      </div>
               </div>
            </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="4" id="description"></textarea>
						  </div>
				  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label for="description">Type of Impact (having or expected)</label>
                      <textarea class="form-control" rows="4" id="impact"></textarea>
						  </div>
                  </div>
			  </div>	  

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category">
                      <option val="" selected="selected">Select Category</option>
                      {{#each data.cats_stakeholders}}
                          <option value="{{id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div> 
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="functional_area">Functional Area</label>
                    <select class="form-control" id="functional_area">
                     <option val="" selected="selected">Select Functional Area</option>
                      {{#each data.func_areas}}
                          <option value="{{id}}">{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="industry">Industry</label>
                          <input type="text" class="form-control" id="industry" placeholder="e.g. e-Commerce">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-4">
              <div class="form-group">
                <label for="country">Country</label>
                <select class="form-control" id="country">
                  <option val="" selected="selected">Select Country</option>
                  {{#each data.countries}}
                      <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
            </div>  
			</div><!--end of first md-->
             <div class="col-md-4">
                  <div class="form-group">
                      <label for="size">Size</label>
                      <input type="text" class="form-control" id="size" placeholder="10">
                  </div>
              </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="size">Does your organization use open data?</label><br>
                          <input id="showExtraFields" type="radio" name="opendata" value="yes"> Yes <br>
                          <input id="hideExtraFields" type="radio" name="opendata" value="no" checked> No
                      </div>
                  </div>	  
          </div><!--end of row -->

			  <div id="extrafields">

                  <h4>Use of Open Data</h4>
				  
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="description">What are the most relevant types of data your organization uses?</label>
                          <textarea class="form-control" rows="4" id="question1"></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="description">How many countries does your organization use open data from?</label>
                          <textarea class="form-control" rows="4" id="question2"></textarea>
                      </div>
                  </div>
				  </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="description">How does your organization use open data?</label>
                          <textarea class="form-control" rows="4" id="question3"></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="description">Additional information (optional, 400 characters or less)</label>
                          <textarea class="form-control" rows="4" id="question4"></textarea>
                      </div>
                  </div>
              </div>

                  <h4>Contact Information (Optional - this information will not be made public)</h4>

              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" id="title" placeholder="Mr. Mrs. Ms. Dr. Fr.">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="email">First Name</label>
                          <input type="text" class="form-control" id="email" placeholder="Johnny">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="year">Last Name</label>
                          <input type="text" class="form-control" id="year" placeholder="Bravo">
                      </div>
                  </div>
				  </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="year">Phone #</label>
                          <input type="text" class="form-control" id="year" placeholder="(876) 773 - 8484">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="year">Email</label>
                          <input type="text" class="form-control" id="year" placeholder="admin@mediumdevinc.com">
                      </div>
                  </div>
              </div>

</div><!--end of extra fields-->

		  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Cancel</button>
        <button type="button" class="btn btn-primary" id="submit">Submit</button>
      </div>
    </div>
  </div>
</div>
